# 2 Data wrangling<a id='2_Data_wrangling'></a>

## Imports

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Load Data

In [5]:
telecom_data = pd.read_csv('telecom.csv')

In [9]:
telecom_data.head()

,CustomerID,Gender,Senior Citizen,Partner,Dependents,Tenure,Phone Service,Multiple Lines,Internet Service,Online Security,...,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,7590-VHVEG,0,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,1,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,1,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,1,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,0,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [8]:
telecom_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6499 entries, 0 to 6498
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         6499 non-null   object
 1   Gender             6499 non-null   int64
 2   Senior Citizen     6499 non-null   int64
 3   Partner            6499 non-null   object
 4   Dependents         6499 non-null   object
 5   Tenure             6499 non-null   int64
 6   Phone Service      6499 non-null   object
 7   Multiple Lines     6499 non-null   object
 8   Internet Service   6499 non-null   object
 9   Online Security    6499 non-null   object
 10  Online Backup      6499 non-null   object
 11  Device Protection  6499 non-null   object
 12  Tech Support       6499 non-null   object
 13  Streaming TV       6499 non-null   object
 14  Streaming Movies   6499 non-null   object
 15  Contract           6499 non-null   object
 16  Paperless Billing  6499 non-null   object
 17  Payment Method     6499 non-null   object
 18  Monthly Charges    6499 non-null   float64
 19  Total Charges      6490 non-null   float64
 20  Churn              6499 non-null   object
dtypes: float64(2), int64(3), object(16)
memory usage: 1.0+ MB

In [ ]:
# Column Total Charges has null vaules

In [15]:
# Drop the 9 NaN rows
telecom_data = telecom_data.dropna()

In [16]:
telecom_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6490 entries, 0 to 6498
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         6490 non-null   object
 1   Gender             6490 non-null   int64
 2   Senior Citizen     6490 non-null   int64
 3   Partner            6490 non-null   object
 4   Dependents         6490 non-null   object
 5   Tenure             6490 non-null   int64
 6   Phone Service      6490 non-null   object
 7   Multiple Lines     6490 non-null   object
 8   Internet Service   6490 non-null   object
 9   Online Security    6490 non-null   object
 10  Online Backup      6490 non-null   object
 11  Device Protection  6490 non-null   object
 12  Tech Support       6490 non-null   object
 13  Streaming TV       6490 non-null   object
 14  Streaming Movies   6490 non-null   object
 15  Contract           6490 non-null   object
 16  Paperless Billing  6490 non-null   object
 17  Payment Method     6490 non-null   object
 18  Monthly Charges    6490 non-null   float64
 19  Total Charges      6490 non-null   float64
 20  Churn              6490 non-null   object
dtypes: float64(2), int64(3), object(16)
memory usage: 1.1+ MB

In [24]:
# Now data is Clean

In [26]:
# save the data to a new csv file
telecom_data.to_csv (r'C:/Users/Nick/Documents/GitHub/Data-Science-Capstone-Three/Customer Churn/notebooks/clean_data.csv', index = False, header=True)